{% extends 'blog/base.html' %}
{% load static %}

{% block title %}

{{user.profile}}

{% endblock %}

{% block content %}




<p></p>

<div class="container">
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        {% if profile.profile_pic %}
            <img src="{{profile.profile_pic.url}}" class="img-fluid rounded-circle" alt="...">
        {% else %}
            <img src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{profile}} / {{profile.user.first_name}} {{profile.user.last_name}}</h5>
          <p class="card-text">{{profile.bio}}</p>
          {% if profile.website_url %}
          <p class="card-footer bg-transparent border-success"><small class="text-muted"><a href="{{profile.website_url}}">Website</a></small> | </p>
          {% endif %}
          {% if profile.facebook_url %}
          <p class="card-footer bg-transparent border-success"><small class="text-muted"><a href="{{profile.facebook_url}}">Facebook</a></small> | </p>
          {% endif %}
          {% if profile.twitter_url %}
          <p class="card-footer bg-transparent border-success"><small class="text-muted"><a href="{{profile.twitter_url}}">Twitter</a></small> | </p>
          {% endif %}
          {% if profile.instagram_url %}
          <p class="card-footer bg-transparent border-success"><small class="text-muted"><a href="{{profile.instagram_url}}">Instagram</a></small> | </p>
          {% endif %}
          {% if profile.pinterest_url %}
          <p class="card-footer bg-transparent border-success"><small class="text-muted"><a href="{{profile.pinterest_url}}">Pinterest</a></small> | </p>
          {% endif %}
          {% if profile.other_url %}
          <p class="card-footer bg-transparent border-success"><small class="text-muted"><a href="{{profile.other_url}}">Other</a></small></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock  %}
    