{% extends 'blog/base.html' %}
{% load static %}

{% block title %}

{{user.profile}}

{% endblock %}

{% block content %}
<div class="container">
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        {% if profile.profile_pic %}
            <img style="width:auto; height:300px" src="{{profile.profile_pic.url}}" class="img-fluid rounded-circle" alt="...">
        {% else %}
            <img src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{profile}} / {{profile.user.first_name}} {{profile.user.last_name}}</h5>
          <p class="card-text">{{profile.bio}}</p>
          <p>Post count: {{post_count}}</p>
          {% if profile.website_url %}
          <a href="{{profile.website_url}}">Website</a>| 
          {% endif %}
          {% if profile.facebook_url %}
          <a href="{{profile.facebook_url}}">Facebook</a> | 
          {% endif %}
          {% if profile.twitter_url %}
          <a href="{{profile.twitter_url}}">Twitter</a> | 
          {% endif %}
          {% if profile.instagram_url %}
          <a href="{{profile.instagram_url}}">Instagram</a> | 
          {% endif %}
          {% if profile.pinterest_url %}
          <a href="{{profile.pinterest_url}}">Pinterest</a> | 
          {% endif %}
          {% if profile.other_url %}
          <a href="{{profile.other_url}}">Other</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if profile.user.id == user.id %}
  <a href="{% url 'edit-profile' profile.id %} " class="btn btn-primary">Edit Profile</a>
  <a href="{% url 'edit-settings' profile.user.id %} " class="btn btn-primary">Edit Settings</a>
  <a href="{% url 'change-password' %} " class="btn btn-warning">Change Password</a>   
  {% endif %}
</div>

<div class="container">
  <h1>Posts by {{profile.user}}</h1>
  <h5>Post count: {{post_count}}</h5>
  {% if post_count %}
  <ul>
    {% for post in post_list %}
        <li>
          <h5><i>{{post.title}}</i></h5>
          {{post.snippet}}<a href="{% url 'post-detail' post.pk %}">. . . read more</a><br/>
          {{post.date_added}}
          <br/><br/>
          <a href="{% url 'post-detail' post.pk %}" class="btn btn-info">Read</a>
          <hr>
        </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>{{profile.user}} hasn't posted anything yet.</p>
  {% endif %}
</div>

{% endblock  %}
    