{% extends 'blog/base.html' %}

{% block title %}
Add Post
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

<div class = 'container'>
    <div class='form-group'>
        <h1>Add Post</h1>
        <br/><hr>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media }}
            {{form.as_p }}
            <button class='btn btn-secondary'>Post</button>
    </div>
    </div>

{% else %}

<p> You need to login to add post. Login<a href="{% url 'login' %}">here</a>. Or register <a href="{% url 'register' %}">here</a></p>

{% endif %}

    

{% endblock content %}