{% extends 'blog/base.html' %}

{% block title %}
Woermind Home
{% endblock title %}

{% block content %}

    <h1>Posts</h1>
    <ul>
        {% for post in object_list %}
        <li>
            {{post.author.first_name}} {{post.author.last_name}} / 
            {{post.title}} / 
            {{post.date_added}}
            <br/>
            {{post.body|safe}}
            <a href="{% url 'post-detail' post.pk %}" class="btn btn-info">Read</a>
            <hr>
        </li>
        {% endfor %}
    </ul>

{% endblock content %}