{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
Woermind Home
{% endblock title %}

{% block content %}
<style>
    h1{text-align: center;}
    #intro img,
    #intro h4{
      display: inline;
    }
</style>
<h1>Posts</h1>
<hr>

<div class="container">
  <div class="row">
    <!-- Profile Card -->
    <div class="col">
      {% if user.is_authenticated %}
      {% if user.profile %}
      <div class="card" style="width: 18rem;">
        {% if user.profile.profile_pic %}
        <img src="{{user.profile.profile_pic.url}}" class="img-fluid rounded-circle" alt="...">
        {% else %}
        <img src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle">
        {% endif %}
        <div class="card-body">
          <h6 class="card-title">{{user}} - {{user.first_name}} {{user.last_name}}</h6>
          <p class="card-text">{{user.profile.bio}}</p>
          <a href="{% url 'show-profile' user.profile.id %}" class="btn btn-primary">Go Profile</a>
        </div>
      </div>
      {% else %}
      <div class="card" style="width: 18rem;">
        <img src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle">
        <div class="card-body">
          <h6 class="card-title">Guest</h6>
          <p class="card-text">Guest</p>
          </div>
        </div>
      {% endif %}
      {% else %}
      <div class="card" style="width: 18rem;">
        <img src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle">
        <div class="card-body">
          <h6 class="card-title">Guest</h6>
          <p class="card-text">Guest</p>
          </div>
        </div>
      {% endif %}
    </div>
<!-- Posts -->
<div class="col-6">
  <ul>
    {% for post in object_list %}
      <li>
        <div id='intro'>
        {% if post.author.profile.profile_pic %}
        <a href="{% url 'show-profile' post.author.profile.id %}"><img style="width:auto; height:50px" src="{{post.author.profile.profile_pic.url}}" class="img-fluid rounded-circle" alt="..."></a>
        <h4>/{{post.author.first_name}} {{post.author.last_name}} / <i><a href="{% url 'show-profile' post.author.profile.id %}">{{post.author}}</a></i></h4>
        {% else %}
        <a href="{% url 'show-profile' post.author.id %}"><img style="width:auto; height:50px" src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle"></a>
        {% endif %}
        </div>
        <h5><i>{{post.title}}</i></h5>
        {{post.body|safe}}
        {{post.date_added}}
        <br/><br/>
        <a href="{% url 'post-detail' post.pk %}" class="btn btn-info">Read</a>
        <hr>
      </li>
    {% endfor %}
</ul>
</div>
<!-- Posts -->

<div class="col">
  <h1>Users</h1>
  {% for u in user_list %}
    {% if u.profile %}
    {% if u.profile.profile_pic %}
      <a href="{% url 'show-profile' u.profile.id %}"><img style="width:auto; height:50px" src="{{u.profile.profile_pic.url}}" class="img-fluid rounded-circle" alt="..."></a>
    {% else %}
      <a href="{% url 'show-profile' u.profile.id %}"><img style="width:auto; height:300px" src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle"></a>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>
</div>
</div>
</div>




   

{% endblock %}