{% extends 'blog/base.html' %}

{% load static %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}
<br/>
<h1>{{post.title}}</h1>
<small>by: <b>{{post.author.first_name}} {{post.author.last_name}}</b> / <i>{{post.author}}</i>
</small>
<br/> <hr>
<p>{{post.body|safe}}</p>
<br/><br/>
<hr>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if post.author.profile.profile_pic %}
            <img src="{{post.author.profile.profile_pic.url}}" class="img-fluid rounded-circle" alt="...">
        {% else %}
            <img src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{post.author}} / <small>{{post.author.first_name}} {{post.author.last_name}}</small></h5>
          <p class="card-text">{{post.author.profile.bio}}</p>
          {% if post.author.profile.website_url %}
            <p class="card-text"><small class="text-muted"><a href="{{post.author.profile.website_url}}">Website</a> |</small></p>     
          {% endif %}
          {% if post.author.profile.facebook_url %}
            <p class="card-text"><small class="text-muted"><a href="{{post.author.profile.facebook_url}}">Facebook</a> |</small></p>          
          {% endif %}
          {% if post.author.profile.twitter_url %}
            <p class="card-text"><small class="text-muted"><a href="{{post.author.profile.twitter_url}}">Twitter</a> |</small></p>     
          {% endif %}
          {% if post.author.profile.instagram_url %}
            <p class="card-text"><small class="text-muted"><a href="{{post.author.profile.instagram_url}}">Instagram</a> |</small></p>          
          {% endif %}
          {% if post.author.profile.pinterest_url %}
            <p class="card-text"><small class="text-muted"><a href="{{post.author.profile.pinterest_url}}">Pinterest</a> |</small></p>        
          {% endif %}
          {% if post.author.profile.other_url %}
            <p class="card-text"><small class="text-muted"><a href="{{post.author.profile.other_url}}">Other</a></small> |</p>          
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
