{% extends 'blog/base.html' %}

{% load static %}

{% block title %}
{{post.title}}
{% endblock title %}

{% block content %}
<div class="container">
<br/>
<h1>{{post.title}}</h1>
<small>by: <b>{{post.author.first_name}} {{post.author.last_name}}</b> / <i>{{post.author}}</i>
</small>
<br/> <hr>
<p>{{post.body|safe}}</p>
{% if post.author.id == user.id %}
<a href="{% url 'edit-post' post.pk %}" class='btn btn-info'>Edit Post</a>
<a href="{% url 'delete-post' post.pk %}" class="btn  btn-danger">Delete</a>
{% endif %}
<br/><br/>
<hr>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if post.author.profile.profile_pic %}
            <img src="{{post.author.profile.profile_pic.url}}" class="img-fluid rounded-circle" alt="...">
        {% else %}
            <img src="{% static 'blogpost/images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle">
        {% endif %}
      </div>

      <!--profile card-->
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{post.author}} / <small>{{post.author.first_name}} {{post.author.last_name}}</small></h5>
          <p class="card-footer bg-transparent border-success">{{post.author.profile.bio}}</p>
          <p class="card-text"><small class="text-muted"><a class="btn btn-info" href="{% url 'show-profile' post.author.profile.id %}">Go Profile</a></small></p>
          {% if post.author.profile.website_url %}
            <a href="{{post.author.profile.website_url}}">Website</a> |     
          {% endif %}
          {% if post.author.profile.facebook_url %}
            <a href="{{post.author.profile.facebook_url}}">Facebook</a> |  
          {% endif %}
          {% if post.author.profile.twitter_url %}
            <a href="{{post.author.profile.twitter_url}}">Twitter</a> |
          {% endif %}
          {% if post.author.profile.instagram_url %}
            <a href="{{post.author.profile.instagram_url}}">Instagram</a> |       
          {% endif %}
          {% if post.author.profile.pinterest_url %}
            <a href="{{post.author.profile.pinterest_url}}">Pinterest</a> |   
          {% endif %}
          {% if post.author.profile.other_url %}
            <a href="{{post.author.profile.other_url}}">Other</a>
          {% endif %}
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
